<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<nav th:fragment="adminHeader" class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">
  <div class="container-fluid">

    <a class="navbar-brand fw-bold" th:href="@{/admin/home}">
      <img th:src="@{/images/logoo.png}" alt="Logo"
           style="height:32px; margin-right:6px;">
      Premier League - Admin
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#adminNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="adminNavbar">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <form th:action="@{/logout}" method="post">
            <button class="btn btn-sm btn-danger ms-3">Đăng xuất</button>
          </form>
        </li>
      </ul>
    </div>

  </div>
</nav>
</body>
</html>
