<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cập nhật cầu thủ</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="container mt-4">

<h2 class="text-center mb-4">Cập nhật cầu thủ</h2>

<form th:action="@{/players/update}" th:object="${playerDto}" method="post">

    <input type="hidden" th:field="*{id}"/>

    <!-- Tên -->
    <div class="mb-3">
        <label class="form-label">Tên cầu thủ</label>
        <input type="text" class="form-control" th:field="*{name}">
        <small class="text-danger" th:errors="*{name}"></small>
    </div>

    <!-- DOB -->
    <div class="mb-3">
        <label class="form-label">Ngày sinh</label>
        <input type="date" class="form-control" th:field="*{dob}">
        <small class="text-danger" th:errors="*{dob}"></small>
    </div>

    <!-- Kinh nghiệm -->
    <div class="mb-3">
        <label class="form-label">Kinh nghiệm</label>
        <input type="text" class="form-control" th:field="*{experience}">
        <small class="text-danger" th:errors="*{experience}"></small>
    </div>

    <!-- Position -->
    <div class="mb-3">
        <label class="form-label">Vị trí</label>
        <input type="text" class="form-control" th:field="*{position}">
        <small class="text-danger" th:errors="*{position}"></small>
    </div>

    <!-- Avatar -->
    <div class="mb-3">
        <label class="form-label">Link hình ảnh</label>
        <input type="text" class="form-control" th:field="*{avatar}">
    </div>

    <!-- Team -->
    <div class="mb-3">
        <label class="form-label">Chọn đội</label>
        <select class="form-select" th:field="*{teamId}">
            <option value="">-- Chọn team --</option>
            <option th:each="t : ${teams}" th:value="${t.id}" th:text="${t.name}"></option>
        </select>
        <small class="text-danger" th:errors="*{teamId}"></small>
    </div>

    <button class="btn btn-primary">Cập nhật</button>
    <a href="/players" class="btn btn-secondary">Quay lại</a>

</form>

</body>
</html>
